<div>
  <h2 id="page-heading" data-cy="UncompatibleIRCategoryHeading">
    <span jhiTranslate="helpMeChefApp.uncompatibleIRCategory.home.title">Uncompatible IR Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="helpMeChefApp.uncompatibleIRCategory.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-uncompatible-ir-category"
        [routerLink]="['/uncompatible-ir-category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="helpMeChefApp.uncompatibleIRCategory.home.createLabel"> Create a new Uncompatible IR Category </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="uncompatibleIRCategories?.length === 0">
    <span jhiTranslate="helpMeChefApp.uncompatibleIRCategory.home.notFound">No uncompatibleIRCategories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="uncompatibleIRCategories && uncompatibleIRCategories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="helpMeChefApp.uncompatibleIRCategory.ingredientcategory">Ingredientcategory</span></th>
          <th scope="col"><span jhiTranslate="helpMeChefApp.uncompatibleIRCategory.recipecategory">Recipecategory</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let uncompatibleIRCategory of uncompatibleIRCategories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/uncompatible-ir-category', uncompatibleIRCategory.id, 'view']">{{ uncompatibleIRCategory.id }}</a>
          </td>
          <td>
            <div *ngIf="uncompatibleIRCategory.ingredientcategory">
              <a [routerLink]="['/ingredient-category', uncompatibleIRCategory.ingredientcategory?.id, 'view']">{{
                uncompatibleIRCategory.ingredientcategory?.name
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="uncompatibleIRCategory.recipecategory">
              <a [routerLink]="['/recipe-category', uncompatibleIRCategory.recipecategory?.id, 'view']">{{
                uncompatibleIRCategory.recipecategory?.name
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/uncompatible-ir-category', uncompatibleIRCategory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/uncompatible-ir-category', uncompatibleIRCategory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(uncompatibleIRCategory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
